#SearchField {
	font-size: 12pt;
	position:absolute;
	top:8px;
	right:12px;
	width: 150px;
	z-index: 15;
}

#Name {
	position:absolute;
	font-family: "Lucida Grande";
	font-size: 17pt;
	color: white;
	top:8px;
	left:25px;
	z-index: 15;
}

#progressGraphic {
	display:block;
	position:absolute;
	top:12px;
	right: 170px;
	height: 22px;
	width: 22px;
	z-index: 15;
}

#contents {
	font-family: "Helvetica Neue";
	font-size: 10pt;
	color: black;
	overflow: hidden;
	z-index: 50;
	-apple-dashboard-region:dashboard-region(control rectangle);
	-khtml-user-select:text;
}

#scrollArea {
	position: absolute;
	top: 45px;    
	bottom: 50px;
	left: 40px;
	right: 50px;
	z-index: 49;
}

#scrollBar {
  position: absolute;
  top: 45px;
  bottom: 50px;
  right: 30px;
  width: 19px;
  z-index: 40;
}


p {
  margin: 0;
  padding: 4px 0;
}

.dpt-categoria {
  color: #333;
  font-size: 1.03em;
  line-height:1.4;
  vertical-align:bottom;
}

.ConjugaNumeroPessoa {
  color: #333;
  display: inline-block;
  padding-right: 5px;
  text-align: right;
  min-width: 40px;
}

.ConjugaImperativoNumeroPessoa {
  color: #333;
  float: right;
  padding-left: 5px;
  text-align: left;
  min-width: 40px;
}

.wrapCONJ {
  display: table;
  float: left;
  margin: 0 8px 8px 0;
}

.tdHEAD {
  background-color: #906081;
  display: table;
  font-weight: bold;
  margin-top: 8px;
  padding: 2px;
  text-align: center;
  width: 100%;
}

.thCONJ {
  background-color: #a06d90;
  font-weight: bold;
  margin-top: 3px;
  padding: 2px;
  text-align: center;
}